img{
    width: 4%;
    object-fit: contain;
}

.navbar{
    display: flex;
    justify-content: space-around;
    box-shadow: 1px 5px 5px 5px #e0dcbc;
}

ul{
    display: flex;
}

li{
    list-style: None;
    padding: 1px 15px;
}

a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}